<div class="jumbotron">
    <div class="container">
        <h1>About me</h1>
        <p>This is a sample project I'm building while I follow a course created by One Month Rails.</p>
    </div>
</div>


<section id="content">
	<div class="container">
		<p>My name's Nan.</p>

		<p>I like to build stuff on the web. But I want to do more than that.</p>

		<p>I've been working in web for over 7 years (basically for my entire career after I graduated from university). But my main focus for the jobs I've worked for up until now have been in ecommerce, retail and marketing.</p>

		<p>My goal is to deepen my knowledge and problem solving skills in development and utilize them in a way that can help create meaningful solutions for others.</p>
	</div>
</section>