body,html {
	background-color: #f0f0f0 !important;
}
.feed {
	font-size: 10px !important;
	background-color: #fff;
}

h3.feed-title {
	font-size: 10px !important;
	font-weight: bold;
	text-transform: uppercase;
	display: block;
}